    <div class="row">
        <div class="col-sm-12">
            <div class="feature text-center is-revealing box-shadow"
                style="max-width: none;width: 100%;position:inherit">
                <div style="padding:40px 40px;text-align:left">
                    <div class="row">
                        <h3 class="feature-title h3-mobile" style="margin-left:20px;margin-top:0px">Flashcards
                        </h3>
                        <br>
                        <p style="margin-left:20px;font-size:0.8rem">
                            HSK level and unit-level flashcards are available below and on the Quizlet platform.
                            Download the Quizlet mobile app (<a
                                href="https://play.google.com/store/apps/details?id=com.quizlet.quizletandroid"
                                target="_blank">Android</a> | <a
                                href="https://apps.apple.com/us/app/quizlet/id546473125" target="_blank">iOS</a>) and
                            <a href="https://quizlet.com/join/kbHXqrXMK" target="_blank">join our class</a> to save your flashcards on your mobile app.
                            <br>
                            Quizlet flashcards are available to be used in various study modes including Flashcard and Learn (default) - you may change modes on the bottom right of the Quizlet window.
<br>
                            If you notice an incorrect card, please let us know via <a href="mailto:michael@culturestride.com">email</a>.
                        </p>

                        <div class="dropdown" style="margin-left:20px;margin-bottom:20px">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                HSK 1
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" data-link="512823329" href="#">HSK 1 All Terms Review</a>
                                <a class="dropdown-item" data-link="512823953" href="#">HSK 1 Unit 1 Review</a>
                                <a class="dropdown-item" data-link="512824144" href="#">HSK 1 Unit 2 Review</a>
                                <a class="dropdown-item" data-link="512824168" href="#">HSK 1 Unit 3 Review</a>
                                <a class="dropdown-item" data-link="512824243" href="#">HSK 1 Unit 4 Review</a>
                                <a class="dropdown-item" data-link="512824335" href="#">HSK 1 Unit 5 Review</a>
                                <a class="dropdown-item" data-link="512824381" href="#">HSK 1 Unit 6 Review</a>
                                <a class="dropdown-item" data-link="512824421" href="#">HSK 1 Unit 7 Review</a>
                                <a class="dropdown-item" data-link="512824475" href="#">HSK 1 Unit 8 Review</a>
                                <a class="dropdown-item" data-link="512824550" href="#">HSK 1 Unit 9 Review</a>
                                <a class="dropdown-item" data-link="512824673" href="#">HSK 1 Unit 10 Review</a>
                                <a class="dropdown-item" data-link="512824981" href="#">HSK 1 Unit 11 Review</a>
                                <a class="dropdown-item" data-link="512825324" href="#">HSK 1 Unit 12 Review</a>
                                <a class="dropdown-item" data-link="512824840" href="#">HSK 1 Unit 13 Review</a>
                                <a class="dropdown-item" data-link="512825391" href="#">HSK 1 Unit 14 Review</a>
                                <a class="dropdown-item" data-link="512825431" href="#">HSK 1 Unit 15 Review</a>
                            </div>
                        </div>
                        <div class="dropdown" style="margin-left:20px;margin-bottom:20px">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                HSK 2
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" data-link="512825466" href="#">HSK 2 All Terms
                                    Review</a>
                                <a class="dropdown-item" data-link="512825594" href="#">HSK 2 Unit 1 Review</a>
                                <a class="dropdown-item" data-link="512825662" href="#">HSK 2 Unit 2 Review</a>
                                <a class="dropdown-item" data-link="512825709" href="#">HSK 2 Unit 3 Review</a>
                                <a class="dropdown-item" data-link="512825761" href="#">HSK 2 Unit 4 Review</a>
                                <a class="dropdown-item" data-link="512825818" href="#">HSK 2 Unit 5 Review</a>
                                <a class="dropdown-item" data-link="512825862" href="#">HSK 2 Unit 6 Review</a>
                                <a class="dropdown-item" data-link="512825945" href="#">HSK 2 Unit 7 Review</a>
                                <a class="dropdown-item" data-link="512825991" href="#">HSK 2 Unit 8 Review</a>
                                <a class="dropdown-item" data-link="512826037" href="#">HSK 2 Unit 9 Review</a>
                                <a class="dropdown-item" data-link="512826090" href="#">HSK 2 Unit 10
                                    Review</a>
                                <a class="dropdown-item" data-link="512826164" href="#">HSK 2 Unit 11
                                    Review</a>
                                <a class="dropdown-item" data-link="512826202" href="#">HSK 2 Unit 12
                                    Review</a>
                                <a class="dropdown-item" data-link="512826280" href="#">HSK 2 Unit 13
                                    Review</a>
                                <a class="dropdown-item" data-link="512826330" href="#">HSK 2 Unit 14
                                    Review</a>
                                <a class="dropdown-item" data-link="512826379" href="#">HSK 2 Unit 15
                                    Review</a>
                            </div>
                        </div>
                        <div class="dropdown" style="margin-left:20px;margin-bottom:20px">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                HSK 3
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" data-link="512831051" href="#">Complete HSK 3
                                    Review</a>
                                <a class="dropdown-item" data-link="512831122" href="#">HSK 3 Unit 1 Review</a>
                                <a class="dropdown-item" data-link="512831163" href="#">HSK 3 Unit 2 Review</a>
                                <a class="dropdown-item" data-link="512831190" href="#">HSK 3 Unit 3 Review</a>
                                <a class="dropdown-item" data-link="512831224" href="#">HSK 3 Unit 4 Review</a>
                                <a class="dropdown-item" data-link="512831265" href="#">HSK 3 Unit 5 Review</a>
                                <a class="dropdown-item" data-link="512831288" href="#">HSK 3 Unit 6 Review</a>
                                <a class="dropdown-item" data-link="512837002" href="#">HSK 3 Unit 7 Review</a>
                                <a class="dropdown-item" data-link="512837054" href="#">HSK 3 Unit 8 Review</a>
                                <a class="dropdown-item" data-link="512837092" href="#">HSK 3 Unit 9 Review</a>
                                <a class="dropdown-item" data-link="512837117" href="#">HSK 3 Unit 10
                                    Review</a>
                                <a class="dropdown-item" data-link="512837150" href="#">HSK 3 Unit 11
                                    Review</a>
                                <a class="dropdown-item" data-link="512837192" href="#">HSK 3 Unit 12
                                    Review</a>
                                <a class="dropdown-item" data-link="512837228" href="#">HSK 3 Unit 13
                                    Review</a>
                                <a class="dropdown-item" data-link="512837297" href="#">HSK 3 Unit 14
                                    Review</a>
                                <a class="dropdown-item" data-link="512837357" href="#">HSK 3 Unit 15
                                    Review</a>
                                <a class="dropdown-item" data-link="512837409" href="#">HSK 3 Unit 16
                                    Review</a>
                                <a class="dropdown-item" data-link="512837443" href="#">HSK 3 Unit 17
                                    Review</a>
                                <a class="dropdown-item" data-link="512837481" href="#">HSK 3 Unit 18
                                    Review</a>
                                <a class="dropdown-item" data-link="512837518" href="#">HSK 3 Unit 19
                                    Review</a>
                                <a class="dropdown-item" data-link="512837551" href="#">HSK 3 Unit 20
                                    Review</a>
                            </div>
                        </div>
                        <div class="dropdown" style="margin-left:20px;margin-bottom:20px">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                HSK 4
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" data-link="512837592" href="#">HSK 4 All Terms
                                    Review</a>
                                <a class="dropdown-item" data-link="512837660" href="#">HSK 4 Unit 1 Review</a>
                                <a class="dropdown-item" data-link="512837691" href="#">HSK 4 Unit 2 Review</a>
                                <a class="dropdown-item" data-link="512837728" href="#">HSK 4 Unit 3 Review</a>
                                <a class="dropdown-item" data-link="512837765" href="#">HSK 4 Unit 4 Review</a>
                                <a class="dropdown-item" data-link="512837801" href="#">HSK 4 Unit 5 Review</a>
                                <a class="dropdown-item" data-link="512837845" href="#">HSK 4 Unit 6 Review</a>
                                <a class="dropdown-item" data-link="512837872" href="#">HSK 4 Unit 7 Review</a>
                                <a class="dropdown-item" data-link="512837903" href="#">HSK 4 Unit 8 Review</a>
                                <a class="dropdown-item" data-link="512837949" href="#">HSK 4 Unit 9 Review</a>
                                <a class="dropdown-item" data-link="512837991" href="#">HSK 4 Unit 10
                                    Review</a>
                                <a class="dropdown-item" data-link="512838028" href="#">HSK 4 Unit 11
                                    Review</a>
                                <a class="dropdown-item" data-link="512838073" href="#">HSK 4 Unit 12
                                    Review</a>
                                <a class="dropdown-item" data-link="512838107" href="#">HSK 4 Unit 13
                                    Review</a>
                                <a class="dropdown-item" data-link="512838189" href="#">HSK 4 Unit 14
                                    Review</a>
                                <a class="dropdown-item" data-link="512838236" href="#">HSK 4 Unit 15
                                    Review</a>
                                <a class="dropdown-item" data-link="512838272" href="#">HSK 4 Unit 16
                                    Review</a>
                                <a class="dropdown-item" data-link="512838317" href="#">HSK 4 Unit 17
                                    Review</a>
                                <a class="dropdown-item" data-link="512838350" href="#">HSK 4 Unit 18
                                    Review</a>
                                <a class="dropdown-item" data-link="512838388" href="#">HSK 4 Unit 19
                                    Review</a>
                                <a class="dropdown-item" data-link="512838520" href="#">HSK 4 Unit 20
                                    Review</a>
                            </div>
                        </div>
                        <div class="dropdown" style="margin-left:20px;margin-bottom:20px">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                HSK 5 上
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" data-link="512838588" href="#">HSK 5 All Terms
                                    Review</a>
                                <a class="dropdown-item" data-link="512838662" href="#">HSK 5 Unit 1 Review</a>
                                <a class="dropdown-item" data-link="512838702" href="#">HSK 5 Unit 2 Review</a>
                                <a class="dropdown-item" data-link="512838753" href="#">HSK 5 Unit 3 Review</a>
                                <a class="dropdown-item" data-link="512838797" href="#">HSK 5 Unit 4 Review</a>
                                <a class="dropdown-item" data-link="512838842" href="#">HSK 5 Unit 5 Review</a>
                                <a class="dropdown-item" data-link="512838882" href="#">HSK 5 Unit 6 Review</a>
                                <a class="dropdown-item" data-link="512838912" href="#">HSK 5 Unit 7 Review</a>
                                <a class="dropdown-item" data-link="512838943" href="#">HSK 5 Unit 8 Review</a>
                                <a class="dropdown-item" data-link="512839179" href="#">HSK 5 Unit 9 Review</a>
                                <a class="dropdown-item" data-link="512839212" href="#">HSK 5 Unit 10
                                    Review</a>
                                <a class="dropdown-item" data-link="512839251" href="#">HSK 5 Unit 11
                                    Review</a>
                                <a class="dropdown-item" data-link="512839298" href="#">HSK 5 Unit 12
                                    Review</a>
                                <a class="dropdown-item" data-link="512839329" href="#">HSK 5 Unit 13
                                    Review</a>
                                <a class="dropdown-item" data-link="512839376" href="#">HSK 5 Unit 14
                                    Review</a>
                                <a class="dropdown-item" data-link="512839417" href="#">HSK 5 Unit 15
                                    Review</a>
                                <a class="dropdown-item" data-link="512839461" href="#">HSK 5 Unit 16
                                    Review</a>
                                <a class="dropdown-item" data-link="512839496" href="#">HSK 5 Unit 17
                                    Review</a>
                                <a class="dropdown-item" data-link="512839536" href="#">HSK 5 Unit 18
                                    Review</a>
                            </div>
                        </div>

                        <div class="dropdown" style="margin-left:20px;margin-bottom:20px">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                HSK 5 下
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" data-link="512839774" href="#">HSK 5 Unit 19
                                    Review</a>
                                <a class="dropdown-item" data-link="512839803" href="#">HSK 5 Unit 20
                                    Review</a>
                                <a class="dropdown-item" data-link="512839844" href="#">HSK 5 Unit 21
                                    Review</a>
                                <a class="dropdown-item" data-link="512839871" href="#">HSK 5 Unit 22
                                    Review</a>
                                <a class="dropdown-item" data-link="512839905" href="#">HSK 5 Unit 23
                                    Review</a>
                                <a class="dropdown-item" data-link="512839943" href="#">HSK 5 Unit 24
                                    Review</a>
                                <a class="dropdown-item" data-link="512839978" href="#">HSK 5 Unit 25
                                    Review</a>
                                <a class="dropdown-item" data-link="512839997" href="#">HSK 5 Unit 26
                                    Review</a>
                                <a class="dropdown-item" data-link="512840026" href="#">HSK 5 Unit 27
                                    Review</a>
                                <a class="dropdown-item" data-link="512840054" href="#">HSK 5 Unit 28
                                    Review</a>
                                <a class="dropdown-item" data-link="512840095" href="#">HSK 5 Unit 29
                                    Review</a>
                                <a class="dropdown-item" data-link="512840134" href="#">HSK 5 Unit 30
                                    Review</a>
                                <a class="dropdown-item" data-link="512840173" href="#">HSK 5 Unit 31
                                    Review</a>
                                <a class="dropdown-item" data-link="512840199" href="#">HSK 5 Unit 32
                                    Review</a>
                                <a class="dropdown-item" data-link="512840223" href="#">HSK 5 Unit 33
                                    Review</a>
                                <a class="dropdown-item" data-link="512840266" href="#">HSK 5 Unit 34
                                    Review</a>
                                <a class="dropdown-item" data-link="512840294" href="#">HSK 5 Unit 35
                                    Review</a>
                                <a class="dropdown-item" data-link="512840330" href="#">HSK 5 Unit 36
                                    Review</a>
                            </div>
                        </div>
                        <div class="dropdown" style="margin-left:20px;margin-bottom:20px">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                HSK 6 上
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" data-link="512840400" href="#">HSK 6 All Terms Review</a>
                                <a class="dropdown-item" data-link="512840510" href="#">HSK 6 Unit 1 Review</a>
                                <a class="dropdown-item" data-link="512840549" href="#">HSK 6 Unit 2 Review</a>
                                <a class="dropdown-item" data-link="512840806" href="#">HSK 6 Unit 3 Review</a>
                                <a class="dropdown-item" data-link="512840841" href="#">HSK 6 Unit 4 Review</a>
                                <a class="dropdown-item" data-link="512840881" href="#">HSK 6 Unit 5 Review</a>
                                <a class="dropdown-item" data-link="512840917" href="#">HSK 6 Unit 6 Review</a>
                                <a class="dropdown-item" data-link="512840942" href="#">HSK 6 Unit 7 Review</a>
                                <a class="dropdown-item" data-link="512840989" href="#">HSK 6 Unit 8 Review</a>
                                <a class="dropdown-item" data-link="512841029" href="#">HSK 6 Unit 9 Review</a>
                                <a class="dropdown-item" data-link="512841056" href="#">HSK 6 Unit 10
                                    Review</a>
                                <a class="dropdown-item" data-link="512841090" href="#">HSK 6 Unit 11
                                    Review</a>
                                <a class="dropdown-item" data-link="512841118" href="#">HSK 6 Unit 12
                                    Review</a>
                                <a class="dropdown-item" data-link="512841146" href="#">HSK 6 Unit 13
                                    Review</a>
                                <a class="dropdown-item" data-link="512841178" href="#">HSK 6 Unit 14
                                    Review</a>
                                <a class="dropdown-item" data-link="512841218" href="#">HSK 6 Unit 15
                                    Review</a>
                                <a class="dropdown-item" data-link="512841265" href="#">HSK 6 Unit 16
                                    Review</a>
                                <a class="dropdown-item" data-link="512841314" href="#">HSK 6 Unit 17
                                    Review</a>
                                <a class="dropdown-item" data-link="512841342" href="#">HSK 6 Unit 18
                                    Review</a>
                                <a class="dropdown-item" data-link="512841382" href="#">HSK 6 Unit 19
                                    Review</a>
                                <a class="dropdown-item" data-link="512841425" href="#">HSK 6 Unit 20
                                    Review</a>

                            </div>
                        </div>

                        <div class="dropdown" style="margin-left:20px;margin-bottom:20px">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                HSK 6 下
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" data-link="512841531" href="#">HSK 6 Unit 21
                                    Review</a>
                                <a class="dropdown-item" data-link="512841559" href="#">HSK 6 Unit 22
                                    Review</a>
                                <a class="dropdown-item" data-link="512841596" href="#">HSK 6 Unit 23
                                    Review</a>
                                <a class="dropdown-item" data-link="512841620" href="#">HSK 6 Unit 24
                                    Review</a>
                                <a class="dropdown-item" data-link="512841644" href="#">HSK 6 Unit 25
                                    Review</a>
                                <a class="dropdown-item" data-link="512841669" href="#">HSK 6 Unit 26
                                    Review</a>
                                <a class="dropdown-item" data-link="512841690" href="#">HSK 6 Unit 27
                                    Review</a>
                                <a class="dropdown-item" data-link="512841722" href="#">HSK 6 Unit 28
                                    Review</a>
                                <a class="dropdown-item" data-link="512841751" href="#">HSK 6 Unit 29
                                    Review</a>
                                <a class="dropdown-item" data-link="512841781" href="#">HSK 6 Unit 30
                                    Review</a>
                                <a class="dropdown-item" data-link="512841812" href="#">HSK 6 Unit 31
                                    Review</a>
                                <a class="dropdown-item" data-link="512841844" href="#">HSK 6 Unit 32
                                    Review</a>
                                <a class="dropdown-item" data-link="512841876" href="#">HSK 6 Unit 33
                                    Review</a>
                                <a class="dropdown-item" data-link="512841906" href="#">HSK 6 Unit 34
                                    Review</a>
                                <a class="dropdown-item" data-link="512841939" href="#">HSK 6 Unit 35
                                    Review</a>
                                <a class="dropdown-item" data-link="512841965" href="#">HSK 6 Unit 36
                                    Review</a>
                                <a class="dropdown-item" data-link="512841991" href="#">HSK 6 Unit 37
                                    Review</a>
                                <a class="dropdown-item" data-link="512842013" href="#">HSK 6 Unit 38
                                    Review</a>
                                <a class="dropdown-item" data-link="512842051" href="#">HSK 6 Unit 39
                                    Review</a>
                                <a class="dropdown-item" data-link="512842095" href="#">HSK 6 Unit 40
                                    Review</a>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="row">
                    <iframe id="quizletIframe" src="https://quizlet.com/512823329/learn/embed?i=2x2s20&x=1jj1"
                        height="800" width="100%" style="border:0"></iframe>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        $(".dropdown-menu a").click(function () {
            var selVal = $(this).attr("data-link"); // get the data-link value
            console.log(selVal);
            var url = "https://quizlet.com/" + selVal + "/learn/embed?i=2x2s20&x=1jj1"
            $("#quizletIframe").attr('src',url); 
        });
    </script>