<div class="row" style="margin:-30px">

  <div class="col-sm-3" style="height:100vh;background: #f6f9fc;overflow: hidden;overflow-y: scroll;">


    <ul style="display: inline-block;padding-left:5px;width:100%">
  <% for (var i = 0 ; i < syllabus.length ; i ++ ) { %>
      <li class="nav-menu-item">
        <div class="nav-wrapper">
          <a class="nav-menu-link" onclick="renderSlides('<%- syllabus[i].sohoYID %>')">
            <span>
              <span class="badge badge-pill badge-light"><%- syllabus[i].title %></span>
            </span>
          </a>
        </div>
      </li>
      <% } %>

    </ul>

  </div>

  <div class="col-sm-9" style="height: 100vh;overflow: hidden;overflow-y: scroll;">
    <div id="holder" style="width:100%;overflow:hidden;"></div>
    <% if (syllabus.length == 0) { %>
      <div class="mobileHide scrollHighlight"
      style="width: 100%;position:inherit;height:100vh; opacity: 1;">
      <div class="homework-box" style="position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%); width:100%;text-align: center;">
      Syllabus materials shared by your teacher will be shown here.
          </div>
        </div>
    <% } %>
  </div>
</div>

<script src="//mandarinspot.com/static/mandarinspot.min.js" charset="UTF-8"></script>

<script>
 function renderSlides(id) {
   ajaxGetSyllabusStu(id);
 }
function ajaxGetSyllabusStu(id) {
  $.ajax({
    type: "POST",
    url: "/ajaxGetSyllabusStu",
    timeout: 30000,
    data: {
      id: id,
    },
    success: function (data) {
      //show content
      console.log('successful post');
      document.getElementById('holder').innerHTML = '';
      for (let i = 0; i < data.length; i++) {
        var content = data[i].content;
      document.getElementById('holder').innerHTML += content;
      document.getElementById('holder').innerHTML += '<hr>';
      }
      // mandarin spot
      mandarinspot.annotate('#holder');
      mandarinspot.showInline("visible");
    },
    error: function (jqXHR, textStatus, err) {
      //show error message
      console.log('unsuccessful post');
    }
  });
}
</script>