<div class="features-wrap" style="margin-top:30px">
		<div class="features-header text-center">
			<div class="container-sm">
				<h2 class="section-title mt-0">HSK 4 (下) Audio Files</h2>
			</div>
			<div class="row" style="margin: 0px 30px">
				<div class="col-md-9" style="text-align:left"><a href="/a/tbaudio/listeninghsk4A">Switch to HSK 4 (上)</a><br> 
					<a href="#unit11">Unit 11</a> | <a href="#unit12">Unit 12</a> | <a href="#unit13">Unit 13</a> | <a
						href="#unit14">Unit 14</a> | <a href="#unit15">Unit 15</a> | <a href="#unit16">Unit 16</a> | <a
						href="#unit17">Unit 17</a> | <a href="#unit18">Unit 18</a> | <a href="#unit19">Unit 19</a> | <a
						href="#unit20">Unit 20</a> | <a href="#mockexam">Mock Exam</a>
				</div>
				<div class="col-md-3">
					<a class="button button-primary button-block button-shadow" style="margin:10px auto;max-width:250px"
						href="/a/tbaudio">All HSK Levels</a>
				</div>
			</div>
		</div>
	</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit11" style="margin-top:0px;margin-left:20px">Unit 11 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/11-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/11-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/11-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/11-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/11-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
	
					<h4 style="margin-top:0px;margin-left:20px">Unit 11 Workbook
					</h4>
								<figure>
									<figcaption>Part 1</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/11-1.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 2</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/11-2.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 3</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/11-3.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
							</div>
						</div>
					</div>

				<div class="col-sm-6">
					<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit12" style="margin-top:0px;margin-left:20px">Unit 12 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/12-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/12-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/12-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/12-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/12-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
	
					<h4 style="margin-top:0px;margin-left:20px">Unit 12 Workbook
					</h4>
								</h3>
								<figure>
									<figcaption>Part 1</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/12-1.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 2</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/12-2.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 3</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/12-3.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
							</div>
						</div>
					</div>

				<div class="col-sm-6">
					<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit13" style="margin-top:0px;margin-left:20px">Unit 13 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/13-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/13-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/13-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/13-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/13-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
	
					<h4 style="margin-top:0px;margin-left:20px">Unit 13 Workbook
					</h4>
								<figure>
									<figcaption>Part 1</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/13-1.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 2</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/13-2.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 3</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/13-3.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
							</div>
						</div>
					</div>

				<div class="col-sm-6">
					<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit14" style="margin-top:0px;margin-left:20px">Unit 14 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/14-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/14-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/14-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/14-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/14-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
	
					<h4 style="margin-top:0px;margin-left:20px">Unit 14 Workbook
					</h4>
								<figure>
									<figcaption>Part 1</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/14-1.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 2</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/14-2.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 3</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/14-3.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
							</div>
						</div>
					</div>

				<div class="col-sm-6">
					<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit15" style="margin-top:0px;margin-left:20px">Unit 15 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/15-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/15-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/15-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/15-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/15-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
	
					<h4 style="margin-top:0px;margin-left:20px">Unit 15 Workbook
					</h4>
								<figure>
									<figcaption>Part 1</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/15-1.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 2</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/15-2.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 3</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/15-3.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
							</div>
						</div>
					</div>

				<div class="col-sm-6">
					<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit16" style="margin-top:0px;margin-left:20px">Unit 16 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/16-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/16-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/16-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/16-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/16-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
	
					<h4 style="margin-top:0px;margin-left:20px">Unit 16 Workbook
					</h4>
								<figure>
									<figcaption>Part 1</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/16-1.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 2</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/16-2.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 3</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/16-3.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
							</div>
						</div>
					</div>

				<div class="col-sm-6">
					<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit17" style="margin-top:0px;margin-left:20px">Unit 17 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/17-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/17-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/17-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/17-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/17-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
	
					<h4 style="margin-top:0px;margin-left:20px">Unit 17 Workbook
					</h4>
								<figure>
									<figcaption>Part 1</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/17-1.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 2</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/17-2.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 3</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/17-3.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
							</div>
						</div>
					</div>

				<div class="col-sm-6">
					<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit18" style="margin-top:0px;margin-left:20px">Unit 18 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/18-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/18-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/18-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/18-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/18-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
	
					<h4 style="margin-top:0px;margin-left:20px">Unit 18 Workbook
					</h4>
								<figure>
									<figcaption>Part 1</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/18-1.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 2</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/18-2.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 3</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/18-3.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
							</div>
						</div>
					</div>

				<div class="col-sm-6">
					<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit19" style="margin-top:0px;margin-left:20px">Unit 19 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/19-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/19-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/19-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/19-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/19-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
	
					<h4 style="margin-top:0px;margin-left:20px">Unit 19 Workbook
					</h4>
								<figure>
									<figcaption>Part 1</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/19-1.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 2</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/19-2.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 3</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/19-3.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
							</div>
						</div>
					</div>

				<div class="col-sm-6">
					<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit20" style="margin-top:0px;margin-left:20px">Unit 20 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/20-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/20-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/20-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/20-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/BLCUP/20-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
	
					<h4 style="margin-top:0px;margin-left:20px">Unit 20 Workbook
					</h4>
								<figure>
									<figcaption>Part 1</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/20-1.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 2</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/20-2.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
								<figure>
									<figcaption>Part 3</figcaption>
									<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/20-3.mp3"
										type="audio/mp3">
										Your browser does not support this 
										<code>audio</code> element.
									</audio>
								</figure>
							</div>
						</div>
					</div>


				
							<div class="col-sm-6">
								<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
						<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
			
							<h4 id="mockexam" style="margin-top:0px;margin-left:20px">Mock Exam
							</h4>
										</h3>
										<figure>
											<figcaption>Audio</figcaption>
											<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk4Bxia/21_HSK4_Mock_Exam.mp3"
												type="audio/mp3">
												Your browser does not support this 
												<code>audio</code> element.
											</audio>
										</figure>
									</div>
								</div>
							</div>
			
			

			</div>