
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74664112-8"></script>

    <script type="text/javascript">
        if (document.location.hostname.search("culturestride.com") !== -1) {

            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-74664112-8', {
                'optimize_id': 'GTM-5558SXD'
            });
        }
    </script>
</head>
<body>
<p>Error message</p>
<br>
<%- message %>
<br>
<%- error %>
</body>
</html>