            <!-- Modal -->
            <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal%>"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style='flex-direction:column'>
                            <div class="progress" style='width:100%'>
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                              </div>
                            <h3 class="modal-title" id="signupModal%>" style="text-align: center;margin-top:10px;">
                                DOWNLOAD YOUR FREE REPORT NOW BEFORE THIS PAGE GETS TAKEN DOWN</h3>
                        </div>
                        <div class="modal-body" style='color:black'>
                            This 19-Page FREE report reveals the polyglot language learning secrets you can steal to skyrocket your Chinese learning.

                        </div>
                        <div class="modal-footer" style="text-align: center;justify-content: center;">
                            <form method="post" style='width:100%'>

                                <div class="form-group">
                                    <input class="form-control" name="fullName" id="fullName" type="text" placeholder="Full Name*" required>

                                </div>
                                <div class="form-group">

                <input class="form-control" name="email" id="email" type="email" placeholder="Email*" required>
                                
            </div>

                            <button type="submit" formaction="/resource/how-to-not-waste-6-months"
                                class="button-primary button button-block button-shadow" style='margin:0 auto;'>Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


<section style="background: #191919;color:white;z-index:0">

<div class="container">
            <h1 class="m-0">
                <a href="/">
                    <img src="/img/cslogotrans.png" style="max-width: 5vh;
                    margin: 20px auto;" />
                </a>
            </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align: center;margin: 0px 0px 30px 0px;">
            <div class="highlightBox" style="background-color:#ffd33c">
                <b style='margin-bottom:0px' id="the-final-countdown">GET YOUR REPORT BEFORE THIS PAGE GOES DOWN IN </b>

            </div>

          
            <h1 style="margin-top:20px;color:white">Polyglot Reveals The Secret Tools To Shave 6 Months Off
                Your Chinese Learning</h1>

            <p style="padding:0px 20px;color:white">
                This 19-Page FREE report reveals the most powerful insights you can steal TODAY to get started and
                EXPLODE your Chinese learning speed.
            </p>


            <div class="col-sm-12">
                <img style='max-height:500px;margin: 0 auto'
                    src="/img/how-to-not-waste-6-months-cover.png" class="ebook"
                    alt="" loading="lazy"
                    srcset="/img/how-to-not-waste-6-months-cover.png 1200w, https://kingkong.co/wp-content/uploads/2021/05/free-report-12-ppc-secrets-247x300.png 247w, https://kingkong.co/wp-content/uploads/2021/05/free-report-12-ppc-secrets-842x1024.png 842w, https://kingkong.co/wp-content/uploads/2021/05/free-report-12-ppc-secrets-768x934.png 768w"
                    sizes="(max-width: 1200px) 100vw, 1200px">

            </div>



            <a class='button button-primary button-block button-shadow pulse-blue' style="    height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;font-size:18px;margin:30px auto" data-toggle="modal"
                data-target="#signupModal">SEND ME MY FREE REPORT NOW</a>





        </div>
    </div>
</div>
</section>

<section style="padding:40px 0px;background: #f6f9fc;color:black;z-index:0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <p style=" padding:0px 20px">
                <span class="minitext" id="date">Updated: 9th December, 2021</span>
<br>
                    Hey Chinese Learner,
                    <br>
                    <br>
                    If you're just about to start learning Chinese and you want to EXPLODE out of the gate...
                    <br>
                    <br>
                    This will be the most exciting message you will read today.
                    <br><br>
                    Here's why:
                    <br><br>
                    Every single year, millions of people learn a new language for the first time.
                    <br><br>
                    <b>90% of them have NO IDEA what they're doing</b>
                    <br><br>
                    They spend thousands of dollars on online courses you can get for free
                    <br><br>
                    Hundreds per hour on mediocre teachers
                    <br><br>
                    Then they throw in the towel 3 months later
                    <br><br>
                    The problem is clear - noone taught them how to learn Chinese!
                    <br><br>
                    <b>So how do you learn how to learn Chinese?</b>
                    <br><br>
                    We've just finished putting the final touches on our 19-Page report on "How To Not Waste 6 Months Learning Chinese Naively (It's Hard!)"
                    <br><br>
                    It's a reveal-all practical resource on how <i>and whether</i> you should start learning Chinese
                    <br><br>
                    With psychology, motivation, learning models and practical next steps for any new Chinese starter.
                    <br><br>

                    BEWARE, you will be cheating Chinese learning by doing this.
                    <br><br>
                    You'll be getting what we spent 2 years figuring out...and what people have paid thousands of dollars to receive.
                    <br><br>
                    And it's yours for FREE, PDF straight to your inbox, just hit the download button below...



                    


                </p>
                    
                <a class='button button-primary button-block button-shadow pulse-blue' style="    height: 65px;
                display: flex;
                align-items: center;
                justify-content: center;font-size:18px;margin:0 auto" data-toggle="modal"
                                data-target="#signupModal">SEND ME MY FREE REPORT NOW</a>

            </div>
        </div>
    </div>
</section>


<section style="padding:40px 0px;z-index:0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 style="margin-top:0px;text-align: center;">Here's a fraction of what you'll receive in this free report</h2>
                <ul style='margin:30px 20px;color:black'>
                    <li style="margin:20px 0px;">The 3 practical next steps on how <b>exactly</b> to start learning Chinese right now</li>
                    <li style="margin:20px 0px;"><b>Avoid the 2 biggest myths</b> that can kill your Chinese learning before you begin!</li>
                    <li style="margin:20px 0px;">How to learn smart, not hard to <b>increase your success rate by 200%</b></li>
                    <li style="margin:20px 0px;">The learning cycle model that <b>every polyglot</b> learns through</li>
                    <li style="margin:20px 0px;">A little secret at the end ;)</li>
                    <li style="margin:20px 0px;">and much, much more!</li>
                </ul>
                
                <a class='button button-primary button-block button-shadow pulse-blue' style="    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;font-size:18px;margin:0 auto" data-toggle="modal"
                data-target="#signupModal">SEND ME MY FREE REPORT NOW</a>


            </div>
        </div>
    </div>
</section>


<section style="padding:40px 0px;background: #ffd33c;color:black;z-index:0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 style="margin-top:0px;text-align: center;">Who are we to be talking?</h2>

                    <p style="padding:0px 20px; margin:20px 0px;">
                        Well firstly...we're a hardworking bunch of educators and software experts based out of Australia and Hangzhou with the shared mission of <b>making humanity more connected and empathetic</b>.
                        <br><br>
                        We believe there's a lot of division in the world and we want to fix that one person and one language at a time.
                        <br><br>
                        More importantly, our students are university students, retirees, professionals, first time learners and polyglots that unanimously KILL their language goals. 
                        <br><br>
                        All online, from the comfort of their home.
                        <br><br>
                        We've spent 2 years and and well over 1000 hours experimenting with Chinese learning strategies and talking to students to figure out how <b>exactly people learn</b>.
                        <br><br>
                        And we've used these insights to create amazing learning outcomes for our students.
                        <br><br>
                        For a limited time, we've distilled our secrets down to the essentials and sharing this knowledge for FREE.
                        <br><br>
                        Just click the button below to get your hands on the most complete and practical resource you'll ever find to get your Chinese learning started.
                    </p>
                    <a class='button button-primary button-block button-shadow pulse-blue' style="    height: 65px;
                    display: flex;
                    align-items: center;
                    justify-content: center;font-size:18px;margin:20px auto" data-toggle="modal"
                                        data-target="#signupModal">SEND ME MY FREE REPORT NOW</a>

            </div>
        </div>
    </div>
</section>

<script>
    setInterval(function time(){
  var d = new Date();
  var hours = 24 - d.getHours();
  var min = 60 - d.getMinutes();
  if((min + '').length == 1){
    min = '0' + min;
  }
  var sec = 60 - d.getSeconds();
  if((sec + '').length == 1){
        sec = '0' + sec;
  }
  var content = 'GET YOUR REPORT BEFORE THIS PAGE GOES DOWN IN ' + hours+':'+min+':'+sec + '!'; 
  jQuery('#the-final-countdown').html(content)
}, 1000);


var options = { year: 'numeric', month: 'long', day: 'numeric' };
var yesterday  = new Date();
yesterday.setDate(yesterday.getDate() - 1);

var date = yesterday.toLocaleDateString("en-US", options);
document.getElementById('date').innerHTML = 'Updated: ' + date;
</script>