<section style="z-index:0; height:100vh ">

<div class="container">
            <h1 class="m-0">
                <a href="/">
                    <img src="/img/cslogotrans.png" style="max-width: 5vh;
                    margin: 20px auto;" />
                </a>
            </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align: center;margin: 0px 0px 30px 0px;">
            <div class="highlightBox">
                <b style='margin-bottom:0px'>Your starter pack will be sent to your email now!
            </div>






        </div>
    </div>
</div>
</section>
