<section style="background: #191919;color:white;z-index:0">

<div class="container">
            <h1 class="m-0">
                <a href="/">
                    <img src="/img/cslogotrans.png" style="max-width: 5vh;
                    margin: 20px auto;" />
                </a>
            </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align: center;margin: 0px 0px 30px 0px;">
            <div class="highlightBox" style="background-color: #ffd33c;">
                <b style='margin-bottom:0px' >SUCCESS! Your resource will arrive in 10 mins. While you wait, watch this... </b>

            </div>

          
            <h2 style="margin-top:20px;color:white">Let me explain the single most important factor to your successful Chinese learning - "Weekly Active Usage"</h2>
            <script src="https://fast.wistia.com/embed/medias/zsq42pj9kv.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_zsq42pj9kv videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/zsq42pj9kv/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>


            <a class='button button-primary button-block button-shadow pulse-blue' style="height:120px; flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;font-size:18px;margin:30px auto;white-space: normal;line-height: 20px;text-transform: none;" href="/resource/starterpack">CLAIM YOUR STARTER CHINESE PACK
            
            <br>
            <span class="subtext" style='margin-top:10px;'>
            Be quick! Starter packs almost gone for <span id="month"></span>!</span> 
        </a>





        </div>
    </div>
</div>
</section>


<script>
const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];

const d = new Date();
let name = month[d.getMonth()];

document.getElementById('month').textContent = name;
</script>