<%- contentFor('body') %>
<body>

        <div class="row">


        <div class="col-sm-12">
    <!-- may need to have token in action -->
    <form action="/sohoresetpassword" method="post" id="resetForm">
        <span><h3>Enter your new password below:</h3></span>
        <br>
        <span>New Password</span><br>
        <input type="password" name="newPassword" placeholder="New Password" required>
        <br>
        <span>Confirm Password</span><br>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <br>
        <% if (error == 1) { %>
        <!-- show error message if error var is 1 (invalid email) -->
        <p style="color:red">Please ensure you enter your new password correctly.</p>
        <% } %>
        <input type="hidden" name='token' value="<%- token %>">
        <button class="button button-primary button-block button-shadow" type="submit">Reset</button>
    </form>
    <br>
        </div>
    </div>

</body>