   <div class="features-wrap">
       <div class="features-header text-center">
           <div class="container-sm" style="padding: 0px 24px">
               <h2 class="section-title mt-0">Textbook Audio Files</h2>

               <p style="margin-bottom:20px">Improve your listening skills with HSK textbook and workbook audio files.</p>
           </div>
       </div>
   </div>
   <div class="row">
       <div class="col-sm-4">
           <a href="/soho/tbaudio/listeninghsk1">
               <div class="feature text-center is-revealing" style="max-width: none;width: 100%">
                   <div class="feature-inner" style="text-align:left;padding-bottom:15px;">
                       <div class="row">
                           <h3 class="feature-title h3-mobile mb-8" style="margin-top:0px;margin-left:20px">HSK
                               1 Listening
                           </h3>
                       </div>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-sm-4"> <a href="/soho/tbaudio/listeninghsk2">
               <div class="feature text-center is-revealing" style="max-width: none;width: 100%">
                   <div class="feature-inner" style="text-align:left;padding-bottom:15px;">
                       <div class="row">
                           <h3 class="feature-title h3-mobile mb-8" style="margin-top:0px;margin-left:20px">HSK
                               2 Listening
                           </h3>
                       </div>
                   </div>
               </div>
           </a></div>
       <div class="col-sm-4"> <a href="/soho/tbaudio/listeninghsk3">
               <div class="feature text-center is-revealing" style="max-width: none;width: 100%">
                   <div class="feature-inner" style="text-align:left;padding-bottom:15px;">
                       <div class="row">
                           <h3 class="feature-title h3-mobile mb-8" style="margin-top:0px;margin-left:20px">HSK
                               3 Listening
                           </h3>
                       </div>
                   </div>
               </div>
           </a></div>
       <div class="col-sm-4">
           <a href="/soho/tbaudio/listeninghsk4A">
               <div class="feature text-center is-revealing" style="max-width: none;width: 100%">
                   <div class="feature-inner" style="text-align:left;padding-bottom:15px;">
                       <div class="row">
                           <h3 class="feature-title h3-mobile mb-8" style="margin-top:0px;margin-left:20px">HSK
                               4A (上) Listening
                           </h3>
                       </div>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-sm-4">
           <a href="/soho/tbaudio/listeninghsk4B">
               <div class="feature text-center is-revealing" style="max-width: none;width: 100%">
                   <div class="feature-inner" style="text-align:left;padding-bottom:15px;">
                       <div class="row">
                           <h3 class="feature-title h3-mobile mb-8" style="margin-top:0px;margin-left:20px">HSK
                               4B (下) Listening
                           </h3>
                       </div>
                   </div>
               </div>
           </a>
        </div>
       <div class="col-sm-4"> <a href="/soho/tbaudio/listeninghsk5A">
               <div class="feature text-center is-revealing" style="max-width: none;width: 100%">
                   <div class="feature-inner" style="text-align:left;padding-bottom:15px;">
                       <div class="row">
                           <h3 class="feature-title h3-mobile mb-8" style="margin-top:0px;margin-left:20px">HSK
                               5A (上) Listening
                           </h3>
                       </div>
                   </div>
               </div>
           </a></div>
       <!-- <div class="col-sm-4"> <a href="/soho/tbaudio/listeninghsk5B">
                            <div class="feature text-center is-revealing" style="max-width: none;width: 100%">
                                <div class="feature-inner" style="text-align:left;padding-bottom:15px;">
                                    <div class="row">
                                        <h3 class="feature-title h3-mobile mb-8" style="margin-top:0px;margin-left:20px">HSK
                                            5B (下) Listening
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </a></div> -->
       <!-- <div class="col-sm-4"> <a href="/listeninghsk1">
                            <div class="feature text-center is-revealing" style="max-width: none;width: 100%">
                                <div class="feature-inner" style="text-align:left;padding-bottom:15px;">
                                    <div class="row">
                                        <h3 class="feature-title h3-mobile mb-8" style="margin-top:0px;margin-left:20px">HSK
                                            6 Listening
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </a></div> -->
   </div>