<%- contentFor('body') %>

<div class="row" style="height: 100vh;background-color: #34495e;">
    <div class="col s12 m12 l12">
        <div
            style="display: flex;flex-direction: column;justify-content: center;text-align: center;margin-top: 10%; color:white">
            <h4>Your request to change your password has been received. Please check your inbox for next steps.</h4>

            <br>
        </div>
    </div>
</div>