<%- contentFor('body') %>

<div class="row" style="height: 100vh;background-color: #34495e;">
    <div class="col s12 m12 l12">
        <div
            style="display: flex;flex-direction: column;justify-content: center;text-align: center;margin-top: 10%; color:white">
            <h4>Your password has now been changed! You may log into your account using your new credentials!</h4>

            <br>
        </div>
    </div>
</div>