<div class="features-wrap" style="margin-top:30px">
		<div class="features-header text-center">
			<div class="container-sm">
				<h2 class="section-title mt-0">HSK 3 Audio Files</h2>
			</div>
			<div class="row" style="margin: 0px 30px">
				<div class="col-md-9" style="text-align:left">
					<a href="#unit1">Unit 1</a> | <a href="#unit2">Unit 2</a> | <a href="#unit3">Unit 3</a> | <a
						href="#unit4">Unit 4</a> | <a href="#unit5">Unit 5</a> | <a href="#unit6">Unit 6</a> | <a
						href="#unit7">Unit 7</a> | <a href="#unit8">Unit 8</a> | <a href="#unit9">Unit 9</a> | <a
						href="#unit10">Unit 10</a> | <a href="#unit11">Unit 11</a> | <a href="#unit12">Unit 12</a> | <a
						href="#unit13">Unit 13</a> | <a href="#unit14">Unit 14</a> | <a href="#unit15">Unit 15</a> | <a
						href="#unit15">Unit 15</a> | <a href="#unit16">Unit 16</a> | <a href="#unit17">Unit 17</a> | <a
						href="#unit18">Unit 18</a> | <a href="#unit19">Unit 19</a> | <a href="#unit20">Unit 20</a> | <a
						href="#mockexam">Mock Exam</a>
				</div>
				<div class="col-md-3">
						<a class="button button-primary button-block button-shadow" style="margin:10px auto;max-width:250px"
						href="/soho/tbaudio">All HSK Levels</a>
				</div>
			</div>
		</div>
	</div>


			<div class="row">
				
				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit1" style="margin-top:0px;margin-left:20px">Unit 1 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/01-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/01-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/01-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/01-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/01-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>

				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 1 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/01.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>


				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit2" style="margin-top:0px;margin-left:20px">Unit 2 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/02-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/02-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/02-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/02-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/02-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 2 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/02.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit3" style="margin-top:0px;margin-left:20px">Unit 3 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/03-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/03-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/03-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/03-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 3 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/03.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit4" style="margin-top:0px;margin-left:20px">Unit 4 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/04-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/04-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/04-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/04-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/04-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 4 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/04.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit5" style="margin-top:0px;margin-left:20px">Unit 5 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/05-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/05-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/05-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/05-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/05-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 5 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/05.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit6" style="margin-top:0px;margin-left:20px">Unit 6 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/06-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/06-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/06-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/06-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/06-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 6 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/06.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit7" style="margin-top:0px;margin-left:20px">Unit 7 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/07-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/07-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/07-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/07-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/07-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 7 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/07.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit8" style="margin-top:0px;margin-left:20px">Unit 8 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/08-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/08-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/08-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/08-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/08-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 8 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/08.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>


				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit9" style="margin-top:0px;margin-left:20px">Unit 9 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/09-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/09-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/09-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/09-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/09-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 9 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/09.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				
				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit10" style="margin-top:0px;margin-left:20px">Unit 10 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/10-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/10-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/10-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/10-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/10-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 10 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/10.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				
				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit11" style="margin-top:0px;margin-left:20px">Unit 11 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/11-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/11-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/11-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/11-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/11-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 11 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/11.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit12" style="margin-top:0px;margin-left:20px">Unit 12 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/12-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/12-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/12-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/12-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/12-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 12 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/12.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>


				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit13" style="margin-top:0px;margin-left:20px">Unit 13 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/13-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/13-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/13-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/13-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/13-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 13 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/13.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit14" style="margin-top:0px;margin-left:20px">Unit 14 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/14-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/14-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/14-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/14-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/14-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 14 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/14.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				
				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit15" style="margin-top:0px;margin-left:20px">Unit 15 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/15-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/15-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/15-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/15-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/15-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 15 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/15.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				
				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit16" style="margin-top:0px;margin-left:20px">Unit 16 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/16-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/16-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/16-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/16-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/16-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 16 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/16.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				
				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit17" style="margin-top:0px;margin-left:20px">Unit 17 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/17-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/17-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/17-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/17-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/17-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 17 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/17.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>

				
				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit18" style="margin-top:0px;margin-left:20px">Unit 18 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/18-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/18-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/18-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/18-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/18-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 18 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/18.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>
				
				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit19" style="margin-top:0px;margin-left:20px">Unit 19 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/19-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/19-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/19-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/19-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/19-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 19 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/19.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>
				
				<div class="col-sm-6">
							<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
			<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

				<h4 id="unit20" style="margin-top:0px;margin-left:20px">Unit 20 Textbook
				</h4>
							<figure>
								<figcaption>Part 1</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/20-1.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 2</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/20-2.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 3</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/20-3.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 4</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/20-4.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
							<figure>
								<figcaption>Part 5</figcaption>
								<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/BLCUP/20-5.mp3"
									type="audio/mp3">
									Your browser does not support this 
									<code>audio</code> element.
								</audio>
							</figure>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6">
						<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
		<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

			<h4 style="margin-top:0px;margin-left:20px">Unit 20 Workbook
			</h4>
						<figure>
							<figcaption>Audio</figcaption>
							<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/20.mp3" type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
			</div>


			<div class="col-sm-6">
					<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
	<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

		<h4 id="mockexam" style="margin-top:0px;margin-left:20px">Mock Exam
		</h4></h3>
					<figure>
						<figcaption>Mock Exam Audio</figcaption>
						<audio style="width:100%" controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk3/21_HSK3_Mock_Exam.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

				</div>
			</div>
		</div>
			</div>