	<div class="features-wrap" style="margin-top:30px">
		<div class="features-header text-center">
			<div class="container-sm">
				<h2 class="section-title mt-0">HSK 1 Audio Files</h2>
			</div>
			<div class="row" style="margin: 0px 30px">
				<div class="col-md-9" style="text-align:left">
					<a href="#unit1">Unit 1</a> | <a href="#unit2">Unit 2</a> | <a href="#unit3">Unit 3</a> | <a
						href="#unit4">Unit 4</a> | <a href="#unit5">Unit 5</a> | <a href="#unit6">Unit 6</a> | <a
						href="#unit7">Unit 7</a> | <a href="#unit8">Unit 8</a> | <a href="#unit9">Unit 9</a> | <a
						href="#unit10">Unit 10</a> | <a href="#unit11">Unit 11</a> | <a href="#unit12">Unit 12</a> | <a
						href="#unit13">Unit 13</a> | <a href="#unit14">Unit 14</a> | <a href="#unit15">Unit 15</a> | <a
						href="#mockexam">Mock Exam</a>
				</div>
				<div class="col-md-3">
						<a class="button button-primary button-block button-shadow" style="margin:10px auto;max-width:250px"
						href="/soho/tbaudio">All HSK Levels</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

					<h4 id="unit1" style="margin-top:0px;margin-left:20px">Unit 1 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/01-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/01-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/01-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/01-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 5</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/01-5.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 6</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/01-6.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 7</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/01-7.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 8</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/01-8.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 9</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/01-9.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">

					<h4 style="margin-top:0px;margin-left:20px">Unit 1 Workbook
					</h4>

					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/01-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/01-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/01-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/01-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 5</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/01-5.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

				</div>
			</div>
		</div>






















		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit2">Unit 2 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/02-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/02-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/02-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/02-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 5</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/02-5.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 6</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/02-6.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 7</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/02-7.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 8</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/02-8.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 9</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/02-9.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 10</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/02-10.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>


		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 2
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/02-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/02-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/02-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/02-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 5</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/02-5.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit3">Unit 3 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/03-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/03-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/03-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/03-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 5</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/03-5.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 6</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/03-6.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 7</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/03-7.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 3
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/03-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/03-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit4">Unit 4 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/04-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/04-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/04-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/04-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 5</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/04-5.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 6</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/04-6.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 7</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/04-7.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 4
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/04-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/04-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit5">Unit 5 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/05-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/05-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/05-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/05-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 5</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/05-5.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 6</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/05-6.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 7</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/05-7.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 8</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/05-8.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 9</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/05-9.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 10</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/05-10.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 5
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/05-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/05-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit6">Unit 6 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/06-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/06-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/06-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/06-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 6
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/06-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/06-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit7">Unit 7 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/07-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/07-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/07-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/07-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 7
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/07-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/07-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit8">Unit 8 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/08-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/08-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/08-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/08-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 8
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/08-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/08-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit9">Unit 9 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/09-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/09-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/09-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/09-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 9
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/09-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/09-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit10">Unit 10 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/10-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/10-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/10-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/10-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 5</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/10-5.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 6</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/10-6.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 10
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/10-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/10-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit11">Unit 11 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/11-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/11-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/11-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/11-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 11
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/11-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/11-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit12">Unit 12 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/12-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/12-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/12-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/12-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 12
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/12-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/12-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit13">Unit 13 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/13-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/13-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/13-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/13-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 13
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/13-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/13-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>


		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit14">Unit 14 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/14-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/14-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/14-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/14-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 14
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/14-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/14-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px" id="unit15">Unit 15 Textbook
					</h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/15-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/15-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 3</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/15-3.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
					<figure>
						<figcaption>Part 4</figcaption>
						<audio controls
							src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/BLCUP/15-4.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 style="margin-top:0px;margin-left:20px">Unit 15
						Workbook </h4>
					<figure>
						<figcaption>Part 1</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/15-1.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>

					<figure>
						<figcaption>Part 2</figcaption>
						<audio controls src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/15-2.mp3"
							type="audio/mp3">
							Your browser does not support this 
							<code>audio</code> element.
						</audio>
					</figure>
				</div>
			</div>
		</div>


		<div class="col-sm-6">
			<div class="feature text-center is-revealing" style="max-width: none;width: 100%">
				<div class="feature-inner" style="text-align:left;padding-bottom:15px;">
					<h4 id="mockexam" style="margin-top:0px;margin-left:20px">HSK 1 Mock
						Exam
						</h3>
						<figure>
							<figcaption>Mock Exam Audio</figcaption>
							<audio controls
								src="https://culturestride.s3-ap-southeast-2.amazonaws.com/hskfiles/hsk1/16_HSK1_mock_exam.mp3"
								type="audio/mp3">
								Your browser does not support this 
								<code>audio</code> element.
							</audio>
						</figure>

				</div>
			</div>
		</div>
	</div>

	</div>