<%- contentFor('body') %>
<body>
    <div class="row">
        <div class="col-sm-12">
    <form method="post" id="forgotpasswordForm">
        <span><h3>Please enter the email you used to sign up below:</h3></span>
        <br>
        <span>Email</span><br>
        <input type="text" name="email" placeholder="Email" required>
        <br>
        <% if (error == 1) { %>
        <!-- show error message if error var is 1 (invalid email) -->
        <p style="color:red">The email entered has not been previously registered.</p>
        <% } %>
        <% if (expire == 1) { %>
        <!-- show error message if expire var is 1 (user didn't reset password in time) -->
        <p style="color:red">Please re-enter your email as it has been more than 1 hour since you last requested to change your password.</p>
        <% } %>
        
        <button class="button button-primary button-block button-shadow" type="submit">Submit</button>
    </form>
    <br>

        </div>
    </div>
</body>