<main>


	<section class="features section">
		<div class="container">
			<div class="features-inner section-inner" style="margin-top:-50px">
				<div class="features-header text-center">
						<h2 class="section-title mt-0" style="margin-bottom:0px">How do Dialogues work?</h2>
						<br>
						<p class="section-paragraph" style="text-align:left">
							Dialgoues are an effective method of increasing daily active usage of the language that you're learning at every lesson through asynchronous audio conversation with another student.
							<br><br>
							<b>This is what it looks like</b>
						</p>
					<img src="/img/dialoguesexample.png">
					<br>
					<p class="section-paragraph" style="text-align:left">
					<b>If you're the first one to message</b>
					<br>
					Record a 1 minute introduction of yourself in Chinese so that your partner can get to know you. You can include anything that you deem relevant but you can start at career, studies, location and why you're learning Chinese.
					<br><br>
					<b>If you're replying to a message</b>
					<br>
					Answer any questions that your partner has asked and continue to conversation! Asking more questions is a great way to get to know someone else.
					<br><br>
					Adding a written transcription is highly recommended for your partner to look up anything that he/she might not understand and also for you to practice your typing abilities!
					<br><br>
					<b>What if we get something wrong?</b>
					<br>
					You will definitely mess up but that's the point. We actively encourage you to make mistakes because if you're not making any it probably means you're not pushing yourself!
					<br><br>
					A Culturestride team member or your teacher have access to your chats and will jump in to help you out if you do make a mistake to help you learn from it.
					<br><br>
					<b>What if we run out of things to talk about?</b>
					<br>
					Ask a Culturestride team member to drop a prompt into the chat:
					<br><br>
					"Hey Culturestride Team, we're not sure what to talk about next, can you give us a prompt?"
					<br><br>
					<b>Can I have multiple dialogue partners?</b>
					<br>
					Yes - we encourage it.
				</p>
				</div>

			</div>
		</div>
	</section>

</main>