  	<div class="features-wrap" style="margin-top:40px">
            <div class="features-header text-center">
                <div class="container-sm" style="padding: 0px 16px">
                    <h2 class="section-title mt-0" style="margin-bottom:0px">Forgot Password</h2>
                    <br>
                    <p style="padding: 0px 15px">
                        Reset the password to your Culturestride account.
                    </p>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12" style="padding:0px 20%">
    
                <form method="post" class="needs-validation" novalidate>
    
                    <div class="form-group" style="max-width:400px;margin: 0px auto 20px auto">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" id="email" required>
                        <div class="invalid-feedback">
                            Please input a valid email address.
                        </div>
                    </div>
                    <% if (error == 1) { %>
                        <!-- show error message if error var is 1 (invalid email) -->
                        <p style="color:red;max-width:400px;margin: 0px auto 20px auto">The email entered has not been previously registered.</p>
                        <% } %>
                        <% if (expire == 1) { %>
                            <!-- show error message if expire var is 1 (user didn't reset password in time) -->
                            <p style="color:red;max-width:400px;margin: 0px auto 20px auto">Please re-enter your email as it has been more than 1 hour since you last requested
                                to change your password.</p>
                            <% } %>
                    <button type="submit" class="button button-primary button-block button-shadow"
                        style="margin: 0px auto; max-width:400px; width:100%;">Submit</button>
    
                </form>
            </div>
        </div>
    