<main>


	<section class="features section">
		<div class="container">
			<div class="features-inner section-inner" style="margin-top:-50px">
				<div class="features-header text-center">
					<div class="container-sm">
						<h2 class="section-title mt-0" style="margin-bottom:0px">What is HSK Chinese?</h2>
						<br>
						<p class="section-paragraph" style="text-align:left">
							HSK is an internationally recognised standard of Chinese proficiency first created
							by Beijing's Language and Culture University to serve non-native Chinese learners.
							<br><br>
							It tracks a students ability to use Chinese in everyday situations. Official
							certifications can be earned through paper or online examinations at
							testing centres all around the world.
							<br><br>
							HSK is ranked from level 1 (beginner) to 6 (advanced), each level requires
							exponentially more investment than the next. For business purposes, most jobs that require Chinese proficiency will ask for HSK 4 or 5 proficiency or higher.
							<br><br>
							Within Culturestride, we use decimal points after the HSK level to denote units (of which there are a total of 15, 15, 20, 20, 36 and 40 units for HSK 1, 2, 3, 4, 5 and 6 respectively). For example, HSK level 1.1 denotes HSK Level 1 Unit 1.
						</p>
					</div>
				</div>

				<div class="features-wrap">

					<div class="feature text-center is-revealing"
						style="max-width: none;width: 100%;position:inherit; padding-top:0px">
						<div class="feature-inner" style="padding:40px 40px;text-align:left">
							<div class="row">
								<div class="col-sm-5">
									<h4 class="feature-title" style="margin-left:20px">HSK 1</h4>
									<p class="text-sm" style="margin-left:20px">You will learn the basics of
										Chinese
										characters, grammar and word structure.
										<br><br>
										HSK 1 is taught with pinyin attached.
										<br><br>
										Characters known: 150
									</p>
								</div>
								<div class="col-sm-7">
									<h4 class="feature-title" style="margin-left:20px">You can read</h4>
									<p class="text-sm" style="margin-left:20px">
										小明：小红，你星期六想去玩儿吗？还是你想在学校学习？
										<br>
										小红：你想去哪里？
										<br>
										小明：星期六我们去公园吧，夏天来了，我们可以去游泳。
										<br>
										小红：好啊！
										<br>
										小明：那星期六早上九点，我在学校门口等你。
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="feature text-center is-revealing"
						style="max-width: none;width: 100%;position:inherit;">
						<div class="feature-inner" style="padding:40px 40px;text-align:left">
							<div class="row">
								<div class="col-sm-5">
									<h4 class="feature-title" style="margin-left:20px">HSK 2</h4>
									<p class="text-sm" style="margin-left:20px">You will be able to use Chinese
										in simple everyday situations.
										<br><br>
										HSK 2 is taught with pinyin attached.
										<br><br>
										Characters known: 300
									</p>
								</div>
								<div class="col-sm-7">
									<h4 class="feature-title" style="margin-left:20px">You can read</h4>
									<p class="text-sm" style="margin-left:20px">
										中国有很多好玩的地方。
										<br>
										如果你喜欢冬天，可以去哈尔滨，它在中国的最北边，冬天会下雪，可以去“冰雪大世界”玩儿。
										<br>
										如果你喜欢夏天，可以去海南岛，它在中国的最南边，有大海、沙滩和热情的人们。
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="feature text-center is-revealing"
						style="max-width: none;width: 100%;position:inherit;">
						<div class="feature-inner" style="padding:40px 40px;text-align:left">
							<div class="row">
								<div class="col-sm-5">
									<h4 class="feature-title" style="margin-left:20px">HSK 3</h4>
									<p class="text-sm" style="margin-left:20px">You will be able to handle most
										everyday situations in Chinese.<br><br>From HSK 3, no pinyin is
										used.<br><br>
										Characters known: 600
									</p>
								</div>
								<div class="col-sm-7">
									<h4 class="feature-title" style="margin-left:20px">You can read</h4>
									<p class="text-sm" style="margin-left:20px">
										南京在中国的江苏省，是一座历史悠久的城市，因为在古时候，南京是六个朝代的首都。
										<br>

										如果你喜欢中国历史，一定要来南京玩儿。
										<br>

										南京的秋天不冷不热，很舒服；景色也很美，是五颜六色的；9-11月来南京玩是最好的。
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="feature text-center is-revealing"
						style="max-width: none;width: 100%;position:inherit;">
						<div class="feature-inner" style="padding:40px 40px;text-align:left">
							<div class="row">
								<div class="col-sm-5">
									<h4 class="feature-title" style="margin-left:20px">HSK 4</h4>
									<p class="text-sm" style="margin-left:20px">You will be conversational in
										Chinese.<br><br>No pinyin is
										used.<br><br>
										Characters known: 1200
									</p>
								</div>
								<div class="col-sm-7">
									<h4 class="feature-title" style="margin-left:20px">You can read</h4>
									<p class="text-sm" style="margin-left:20px">
										时间过的真快啊，转眼2018年就要过去了。
										<br>

										在这一年里，我实现了从学校毕业到参加工作的转变。在学校的时候可以见到很多亲切的老师和一起玩的同学。工作以后，遇见的是严厉的领导和忙碌的同事。
										<br>

										我上大学的时候，住在宿舍，虽然有点拥挤，但是很温馨。
										<br>

										现在住在自己租的房子里，很简单很贵。可是，人都要不断向前的，希望2019年，大家可以一起加油!
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="feature text-center is-revealing"
						style="max-width: none;width: 100%;position:inherit;">
						<div class="feature-inner" style="padding:40px 40px;text-align:left">
							<div class="row">
								<div class="col-sm-5">
									<h4 class="feature-title" style="margin-left:20px">HSK 5</h4>
									<p class="text-sm" style="margin-left:20px">You will be able to do business
										in Chinese.<br><br>No pinyin is
										used.<br><br>
										Characters known: 2500
									</p>
								</div>
								<div class="col-sm-7">
									<h4 class="feature-title" style="margin-left:20px">You can read</h4>
									<p class="text-sm" style="margin-left:20px">
										在恋爱关系中，你是愿意AA制还是希望对方能够多付出一些呢？这是摆在每一对情侣面前的问题，尤其是女生。
										<br>


										在恋爱关系中，女生大多希望男方能够更爱自己，所以在金钱上也希望男方能够多表示一些，比如，送自己礼物，在外出吃饭时候能够主动结账等。但是，我们也要公平地看待这个问题，每一个人的收入都是靠自己辛勤付出获得的。
										<br>
										如果一段关系中，男女双方能够相互尊重，有长远相处的打算，那付出就必定要是对等的。女方不可以只索取，而不付出。男方更不可以只付出，不求回报。长此以往，这样的关系是不会有好结果的。
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="feature text-center is-revealing"
						style="max-width: none;width: 100%;position:inherit;">
						<div class="feature-inner" style="padding:40px 40px;text-align:left">
							<div class="row">
								<div class="col-sm-5">
									<h4 class="feature-title" style="margin-left:20px">HSK 6</h4>
									<p class="text-sm" style="margin-left:20px">You will be essentially native
										in Chinese.<br><br>No pinyin is
										used.<br><br>
										Characters known: 5000
										<br><br>
										<b>Cost: Custom pricing available</b>
									</p>
								</div>
								<div class="col-sm-7">
									<h4 class="feature-title" style="margin-left:20px">You can read</h4>
									<p class="text-sm" style="margin-left:20px">
										中国古典名著《西游记》里有一段话 “你说四大皆空，却紧闭双眼，要是你睁开眼睛看看我，我不相信你两眼空空。不敢睁眼看我，还说什么四大皆空呢？”
										<br>
										故事说的是，唐僧离开女儿国。女儿国国王凤冠霞披，美艳不可方物，却轻倚城头在文武百官前。对着唐僧的背影呼唤“御弟哥哥，若有来世，娶我可好”。夕阳下，不远处一骑白马缓步而行，隐约中马背上的身形顿了顿，终没有回头。
										<br>
										看《西游记》的时候，以为女儿国是最好过的关，后来才知道这是最难的，问世间情为何物，直叫人生死相许。
									</p>
								</div>
							</div>
						</div>
					</div>








				</div>
			</div>
		</div>
	</section>

</main>