<main>


    <section class="features section">
        <div class="container" style="max-width:1000px">
            <div class="features-inner section-inner" style="margin-top:-50px">



                                <div class="feature is-revealing"
                                style="max-width: none;width: 100%;position:inherit;box-shadow: 0 24px 48px rgba(17, 16, 62, 0.12);padding:40px 40px;text-align:left">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img style="margin: 20px auto; border-radius: 50%;max-width:150px"
                                            src="../img/masae.png" alt="masae">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2 class="section-title mt-0" style="margin-bottom:0px;text-align:center">
                                            Masae Zhang 张雅惠
                                        </h2>
                                    </div>
                                </div>

                                <br>
                                <p class="section-paragraph" style="text-align:left">
                                    <b>Origin</b>
                                    <br>
                                    Guangzhou, China
                                    <br><br>
                                    <b>Languages</b><br>
                                    Mandarin, Cantonese, German (B1) and English
                                    <br><br>
                                    <b>My Special Skill</b><br>
                                    Helping you bring up your speaking and listening abilities in the modern
                                    world conversation.
                                    <br><br>
                                    <b>My teaching Style</b><br>
                                    I have a highly conversational and oral driven approach. I make sure the
                                    vocab and grammar you learn will become what you can use in everyday
                                    conversation.
                                    <br><br>
                                    <b>About me</b><br>
                                    I graduated with a Bachelors of Chinese and English Teaching from
                                    Lingnan Normal University with both English and Chinese teaching
                                    qualifications.
                                    <br>
                                    <br>
                                    Apart from English and Chinese, I also speak German to a B1 level and
                                    love to draw, cook, travel and do yoga in my spare time.
                                    <br>
                                    <br>
                                    I'm living in Hangzhou now (the birthplace of Alibaba) because it's a
                                    beautiful city and a great place to live. I've taught Chinese for over 3
                                    years now (over 4000 hours) with students from all over the world and of
                                    all ages.
                                    <br><br>
                                    I'm proud that I've taught students who completed the entire HSK 1
                                    course in 12 hours with 90% retention.
                                </p>
                                <div style="text-align:center">
                                    <iframe width="100%" height="450px" class="youtubeVideoTeacher" style="border: 0; "
                                        src="https://www.youtube.com/embed/tnqKZQjEK6g">
                                    </iframe>
                                </div>
                            </div>

        </div>
        </div>
    </section>

    <section class="newsletter section text-light">
        <div class="container-sm">
            <div class="newsletter-inner section-inner">
                <div class="newsletter-header text-center">
                    <h2 class="section-title mt-0">Learn Chinese With Masae</h2>
                    <p class="section-paragraph">Join the Culturestride community.</p>
                </div>

                <div class="footer-form newsletter-form field field-grouped">
                    <div class="control" style="margin:0px auto">
                        <a class="button button-primary button-block button-shadow"
                            href="/start">Request Consultation</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>