<section style="padding:40px 0px 80px 0px;background: #f6f9fc;z-index:0;min-height: 100vh;">
	<div class="container">







		<!-- PLAN -->

		<div class="row">
			<div class="col-sm-12">
				<h3 class="mobileText">We work with these Partners to improve your student learning experience</h3>
			</div>
			<div class="col-sm-12">

				<div class="row" id="lineHSK2">
					<div class="col-auto text-center flex-column d-none d-sm-flex">
						<div class="row h-50">
							<div class="col border-right">&nbsp;</div>
							<div class="col">&nbsp;</div>
						</div>
						<h5 class="m-2">
							<span style="background-color:#dee2e6 !important"
								class="badge badge-pill bg-success">&nbsp;</span>
						</h5>
						<div class="row h-50">
							<div class="col">&nbsp;</div>
							<div class="col">&nbsp;</div>
						</div>
					</div>
					<div class="col py-2">
						<div class="feature cardHoverExpand cardWithShadow" style="background:white;">
							<div class="row">
								<div class="col-sm-6">
									<h4 class="card-title">
										<a href="https://www.hackchinese.com/" target="_blank">Hack Chinese</a>
									</h4>
									<p class="card-text">
										Professional spaced repetition software to grow your Mandarin vocabulary
									</p>
									<ul>
										<li>
											Study 10-20 minutes a day to grow and maintain your Mandarin vocabulary.
										</li>
										<li>
											Reinforces what you learn in class.
										</li>

										
									</ul>
									<div class="highlightBox">
										Culturestride students receive 15% off of Hack Chinese plans using <a href="https://www.hackchinese.com/culturestride">this link</a>.
									</div>
									<a class='button button-secondary button-block button-shadow' href='/think/hack-chinese-review'>How do students use Hack Chinese?</a>

								</div>
								<div class="col-sm-6">
									<img style="width:80%;position: absolute;top: 0;bottom: 0;margin: auto;" src="../../../img/hackchinese.jpg" />

								</div>
							</div>
						</div>
					</div>
				</div>



			</div>
		</div>


	</div>
</section>
