<div class="features-wrap" style="margin-top:40px">
    <div class="features-header text-center">
        <div class="container-sm" style="padding: 0px 16px">
            <h2 class="section-title mt-0" style="margin-bottom:0px">Reset Password</h2>
            <br>
            <p style="padding: 0px 15px">
                Enter your new password below.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="padding:0px 20%">

        <form method="post" action="/resetpassword" class="needs-validation" novalidate>

            <div class="form-group" style="max-width:400px;margin: 0px auto 20px auto">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" name="newPassword" id="newPassword" required>
                <div class="invalid-feedback">
                    Please input a password.
                </div>
            </div>
            <div class="form-group" style="max-width:400px;margin: 0px auto 20px auto">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required>
                <div class="invalid-feedback">
                    Please input a password.
                </div>
            </div>
            <% if (error == 1) { %>
            <!-- show error message if error var is 1 (invalid email) -->
            <p style="color:red;max-width:400px;margin: 0px auto 20px auto">Please ensure you enter your new password
                correctly.</p>
            <% } %>
            <input type="hidden" name='token' value="<%- token %>">

            <button type="submit" class="button button-primary button-block button-shadow"
                style="margin: 0px auto; max-width:400px; width:100%;">Reset</button>

        </form>
    </div>
</div>