        <section class="features section">
            <div class="container">
                <div class="features-inner section-inner" style="margin-top:-50px">
                    <div class="features-header text-center">
                        <div class="container-sm">
                            <h2 class="section-title mt-0" style="margin-bottom:0px">Reset Successful</h2>
                            <br>
                            <p class="section-paragraph" style="text-align:center">
                                    Your password has now been changed! You may log into your account using your new credentials.
                            </p>
                            <div style="margin:0px auto;max-width:250px;">
                                    <a class="button button-primary button-block button-shadow"
                                        href="/login">Back to Login</a>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>