<main>


	<section class="features section">
		<div class="container">
			<div class="features-inner section-inner" style="margin-top:-50px">
						<h2 class="section-title mt-0" style="margin-bottom:0px">Student Code of Conduct</h2>
						<br>
						<p>
							This code of conduct is intended to help students commit to their lessons conscientiously and to help uphold teacher morale.
							We're committed to helping you become conversational in foreign language and we believe this is one of the ways that helps align 
							incentives in all parties to better achieve this.
							<br><br>
							Students are expected to:
							<ul>
								<li>Attend classes at scheduled times</li>
								<li>In the event of something coming up, the teacher should be notified at least 24 hours in advance of the need to reschedule a class otherwise it may be recorded as a no-show at student expense</li>
								<li>Reply to messages sent by the teacher via the Culturestride website</li>
								<li>Be respectful of your teachers' time and do not be rude - teachers are humans too</li>
							</ul>
							<b>In the event of late cancellation (> 24 hours) or no-show</b>
							<br>
							Students are expected to cancel or reschedule their class booking at least 24 hours before the class, otherwise the student will be charged the full amount.
							<br><br>
							Students will be charged the full amount of the class in the case of a no-show.
							<br><br>
							<b>In the event of students being late to class</b>
							<br>
							Teachers will be asked to wait 10 minutes for a student after the scheduled start time, after which, it is at the teacher's discretion to wait any longer or register the class as a student no-show.
							
						</p>






				</div>
			</div>
		</div>
	</section>

</main>