
		<main>


			<section class="features section">
				<div class="container">
					<div class="features-inner section-inner" style="margin-top:-50px">
						<div class="features-header text-center">
							<div class="container-sm">
								<h2 class="section-title mt-0" style="margin-bottom:0px">Thank you!</h2>
								<br>
								<p class="section-paragraph" style="text-align:center">
									Your submission has been received, we'll be in touch soon.
									<br>
									<div style="margin:0px auto;max-width:250px;">
										<a class="button button-primary button-block button-shadow"
											href="/">Back to Home Page</a>

									</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</main>