<main>


	<section class="features section">
		<div class="container">
			<div class="features-inner section-inner" style="margin-top:-50px">
				<div class="features-header text-center">
						<h2 class="section-title mt-0" style="margin-bottom:0px">Voov</h2>
						<br>
						<p class="section-paragraph" style="text-align:left">
							<b>What is Voov?</b>
							<br>
							Voov is Tencent's internationalised version of its video conferencing software. Functionally it is similar to other video conferencing softwares like Zoom, Google Meet, Microsoft Teams, Skype, etc.
							<br><br>
							<b>Why do we use Voov?</b>
							<br>
							We use Voov for our online classes because many non-Chinese video conferencing softwares are banned or have strong barriers to entry for users within China to access. Since all of our teachers are physically located within China, we use Voov to ensure the communication platform has greater reliability and accessibility for our teachers to deliver their best classes for you.
							<br><br>
							Unfortunately that means that students have to download an extra piece of software but we hope that it's okay!
							<br><br>
							<b>What if I don't want to use Voov for my classes?</b>
							<br>
							Students who wish to use Zoom as their primary classroom software are able to, however students need to be the one that hosts the meeting and sends the link to the teacher before the class.
							<br><br>
							Students need to do this because as of May 2020 Zoom made changes to its China product where China free accounts cannot host meetings and only enterprise customers were able to purchase paid accounts (<a href="https://www.reuters.com/article/us-zoom-video-commn-china-idUSKBN22V1AN" target="_blank">article</a>).
							<br><br>
							Effectively, this means your teacher can join your Zoom meeting but cannot host it.
							
						</p>
					
				</div>

			</div>
		</div>
	</section>

</main>